.text-login{
  color: var(--color-text-title);
  font: 700 2.2rem Poppins;
}

.input-login{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.forget-login{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.forget-login .remind-login{
  display: flex;
  align-items:flex-start;
  justify-content: flex-start;
  
}

.forget-login .remind-login label{
  margin: 5px;
  font: 400 1.2rem Poppins;
  color: var(--color-text-complement);
}

.forget-login a{
  margin: 10px;
  font: 400 1.2rem Poppins;
  color: var(--color-text-complement);
  text-decoration: none;
  padding: 2px;
}

.forget-login a:hover{
  text-decoration: underline;
}


button{
  width: 350px;
  height: 50px;
  background-color: #DCDCD5;
  border: none;
  border-radius: 5px;
  margin: 2rem 0rem;
  cursor: pointer;
  outline: none;
}

button:hover{
  background-color: var(--color-secundary);
  color: var(--color-button-text);
}

button:active{
  background-color: var(--color-secundary-dark);
  border:none;
}

.footer-login{
  display: flex;
  justify-content: space-between;
}

.footer-login p{
  color: var(--color-text-base);
  font: 400 1.3rem Poppins;
}
.footer-login a{
  color: var(-color-primary);
  font: 700 1.3rem Poppins;
  
}

.footer-login > p {
  color: var(--color-text-complement);
}

.footer-login > p > img{
  margin-left: 5px;
}


input[type="checkbox"] {
  visibility: visible;
  width: 0;
  height: 0;
}
label {
  cursor: pointer;
}
input[type="checkbox"] + label:before {
  border: 1px solid var(--color-secundary);
  border-radius: 5px;
  content: "";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 16px;
  margin: 0 1rem 0 0 ;
  vertical-align: top;
  width: 16px;
}
input[type="checkbox"]:checked + label:before {
  background: var(--color-secundary);
  color: var(--color-button-text);
  content: "\2713";
  text-align: center;
}



@media(min-width: 1100px){

  .text-login{
    margin-bottom: 2rem;
    margin-top: 12rem;
    color: var(--color-text-title);
    font: 700 3.0rem Poppins;
  }

  .footer-login{
    margin-top: 3rem;
  }

  
}