h1{
  color: var(--color-text-title);
  font: 700 3.6rem Poppins;
  margin: 1rem;
}
.subtitle p {
  margin: 2rem;
  color: var(--color-text-title);
  font: 500 1.2rem Poppins;
}

button{
  width: 350px;
  height: 50px;
  background-color: #DCDCD5;
  border: none;
  border-radius: 5px;
  margin: 2rem 0rem;
  cursor: pointer;
  outline: none;
}

button:hover{
  background-color: var(--color-secundary);
  color: var(--color-button-text);
}

button:active{
  background-color: var(--color-secundary-dark);
  border:none;
}
