#page-login {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--color-text-in-primary); 
}


.form-login{
  width: 350px;
}

.right{
  width: 100%;
}


@media(min-width: 1100px){

  #page-login{
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
  }
  .left{
    grid-area: left;
    align-items: center;

  }
  .right{
    grid-area: right;
    align-items: center;

  }
  .form-login{
    margin-left: 10rem;
  }
}